@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto";
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

.left-container,
.right-container {
  padding: 20px;
  border: 1px solid black;
}

.left-container {
  flex-basis: 70%;
}

.right-container {
  flex-basis: 30%;
  order: 2;
}

.title {
  font-size: 20px;
}

.elderly-img {
  float: right;
  margin: 0px 5px 5px 5px;
  width: 350px;
  height: auto;
}
